#Ignore the dataset
#IMPORTANT: make sure that your dataset is stored in a folder with the same as the one specified below

hw1_data/*
hw1_data_original/*
models/*
out_test_p1/*
out_test_p2/*
test_dir_p1/*
test_dir_02/*
__pycache__/*

*png
*jpg
*pth
check_torch.ipynb
log.ipynb
data_moving.py
check_data.ipynb
check_torch.ipynb
remove_original_data.py

p1_visualisation.ipynb
p1.ipynb
p1_recheck.ipynb

p2_b_all.py
p2b_model_summary.ipynb
p2_test.ipynb
p2b_all.py